<div class= "container">

<div class="panel-body">

  <h1>Editing Team</h1>

<%= render 'form' %>

<div style= "font-size:17px">
<%= link_to 'Show', @team , {:style=>"color:black;"} %> |
<%= link_to 'Back', :back , {:style=>"color:black;"}%>

</div>
</div>



<style>

body {
  background: url("/assets/teams-show-pic.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;

}

.edit {
  float: left;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

</style>
