<body>
  <div class="panel-body">
    <%= render 'form'%>
    <div style= "font-size:18px">
      <%= link_to 'Back', :back, {:style=>"color:#fff;"}%>
    </div>
  </div>
</body>
<style>

body {
  background-image: url("/assets/van.png");
  background-size: 100%;
  background-attachment: fixed;
}


.form {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
}

</style>
