<div class="container">
  <h1>Log In Succesful</h1>
  <h3>Welcome back <%= @user.name %>!<h3>
  <h3>You will be redirected to team page in 5 seconds</h3>
  <h3>If not, please click <a href="/teams">here</a>
</div>
<script>
$(window).load(function () {
    window.setTimeout(function () {
        window.location.href = "/teams";
    }, 5000)
});
</script>
