<body>
<div class="container">
  <div class="col-md-5 col-md-offset-7">
  <div class="panel-heading">
  <h1 class="page-header" style="color:#ffffff">User Profile</h1>
  </div>

  <div class="panel-body">

      <div class="form-group" style= "margin-top:-20px ">
          <h3><strong style="color:#c45907">Name:</strong> <%= @user.name %><h3>
      </div>
      <div class="form-group">
          <h3><strong style="color:#c45907">Email:</strong> <%= @user.email %><h3>
      </div>
      <div>
        <%=
          if current_user.id == @user.id
            link_to "Edit", edit_user_path(current_user)
          end
        %>
      </div>

  </div>
</div>
</body>
<style>
  body {
    background: url("/assets/ball.jpg") ;
    color:white;
    background-size:100%;
  }

</style>
