<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mini Basketball</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
  .box{
    width:30%;
    text-align: center;
    margin: auto;
    padding: 10px;

  }

  .row{
    text-align: center;
  }




  #about{
  color:#80dfff;
}

  </style>




  </head>
<body >



    <div class="container" style="padding-top: 0px;">
      <h1 class="page-header">About Mini Basketball</h1>
        <div class="span12">
        Mini Basketball provides community for basketball lovers to engage with, communicate with and compete against each other. After signing in, you are encouraged to actively seek and join a team.
        Then you and your teammate will play and rise together to start the season and compete against other teams.
        </div>
    
      <h1 class="page-header">General Rules Of the Game</h1>
        <div class="span12">
            <ol>
              <li>Each team should have at least 5 players present on the court to play a game. The only exception is: An individual player cannot continue the game due to an in-game injury or is fouled out of the game. </li>
              <li>When a team has forfeited, the opposing team must have at least 5 players present to receive a win. Otherwise, it will be a tie.</li>
              <li>Winning a game will receive 2 pts, tying will receive 1 pt, and losing will receive 0 pts. Points of each team will be updated in the Standings page accordingly.</li>
              <li>Team captains are responsible for reporting game scores after each game with honesty and on time. Failing to do so may result in a forfeit for their team for that particular game.</li>
              <li>Any violence to a referee, a player, or audience will receive a suspension for his/her account.</li>
            </ol>
            <p>For more details regarding the rules of the game, please visit
          <a href="https://web.stanford.edu/dept/pe/cgi-bin/downloads/intramural/LeagueSportRules/5v5%20Basketball%20Rules%20_revised%201_11_.pdf" >5 x 5 Intramural Sports Rules</a>.</p>
        </div>
        
      <h1 class="page-header">New User Tips</h1>
        <div class="span12">
        <ol>
          <li>Complete your profile page and join your favorite team or create your own team with friends.</li>
          <li>Add your preferred primary/secondary court to increase the chance for your game to be held in that location.</li>
          <li>You can click on See on Maps in your league's schedule page to see where your game is held at.</li>
        </ol>
        </div>
    
    
  </br></br>
      <div class="span12" ><p style="color:blue">Citation</p>
          <ul>
            <li>https://pixabay.com/en/the-pitch-basket-255022/</li>
            <li>https://pixabay.com/en/basket-ball-game-equipment-801708/</li>
            <li>https://pixabay.com/en/wood-floor-pine-basketball-court-677054/</li>
	          <li>https://pixabay.com/en/vancouver-british-columbia-canada-216595/</li>
            <li>https://pixabay.com/en/city-vancouver-canada-948984/</li>
            <li>https://pixabay.com/en/basketball-court-sport-landscape-611572/</li>
            <li>http://www.hoopswallpapers.com/wallpapers/2016/steph-curry-winning3-wallpaper.jpg</li>
            <li>https://www.railstutorial.org/book/</li>
            <li>https://web.stanford.edu/dept/pe/cgi-bin/downloads/intramural/LeagueSportRules/5v5%20Basketball%20Rules%20_revised%201_11_.pdf</li>
            <li>Google Maps API</li>
          </ul>
      </div>
    </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
