<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mini Basketball</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
  .box{
  	width:30%;
  	text-align: center;
  	margin: auto;
  	padding: 10px;

  }

  .row{
  	text-align: center;
    margin-left: 0px;
  }


  body{
  	background: url("/assets/home-pic.jpg") ;
    font-family: Verdana, Sans-serif;
	  background-size:100%;
  }

  .text-buttons {
    width: 50%;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
  }

  .backboard-box {
    border: 5px solid #DB5C5C;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 120px;
  }

  </style>

  </head>
  <body >


    <div class= "container">
      <div class="text-buttons">
    	<center><h1 style= "color:black"><strong>Welcome</strong> to the</h1></center>
      <center><h1 style= "color:#4A4A4A;">Mini Basketball</h1></center>
      <center><h1 style= "color:#4A4A4A">Community</h1></center></br>
    </div>

    </br>
    </br>
	    <div class="row">
	    	<button style="background: black" type="button" class="btn btn-primary btn-lg box"  onclick="location.href='/teams/new'" >Create Team</button></br></br>
	    	<button style="background: black" type="button" class="btn btn-primary btn-lg box" onclick="location.href='/teams/join'" >Join Team</button></br></br>
        <% if current_user.admin? %>
          <button type="button" class="btn btn-primary btn-lg box" onclick="location.href='/teams'" >Manage Teams</button></br></br>
          <button type="button" class="btn btn-primary btn-lg box" onclick="location.href='/users'" >Manage Users</button></br></br>
          <button type="button" class="btn btn-primary btn-lg box" onclick="location.href='/scores'" >Manage Scores</button></br></br>
        <% end %>



        <a style="text-align: center" class="twitter-timeline"  href="https://twitter.com/hashtag/mini_basketball_league" data-widget-id="747831419964035072">#mini_basketball_league Tweets</a>
        <script>
          !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
            if(!d.getElementById(id)){
              js=d.createElement(s);
              js.id=id;
              js.src=p+"://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js,fjs);
            }
          }
          (document,"script","twitter-wjs");
        </script>
      </div>
	    </div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
